# Market data
STOCK_API_KEY=

# Authentication
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Inngest
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=

# AI
AI_API_KEY=

# Database
DATABASE_URL=
